<app-slider></app-slider>
<div class="uk-grid-small uk-child-width-expand@s uk-flex uk-flex-between" uk-grid>
  <app-post-list-item *ngFor="let post of posts; let i = index"
                      [title]="post.title"
                      [content]="post.content"
                      [loveIts]="post.loveIts"
                      [created_at]="post.created_at"
                      [index]="i"
                      [id]="post.id"></app-post-list-item>
</div>
