<h1 class="uk-text-center uk-margin-top">LA LOPEZERIE</h1>
<div class="uk-nav-center menu">
  <button class="uk-button uk-button-text uk-link-reset" routerLinkActive="active"><a routerLink="login">Login</a></button>
  <button class="uk-button uk-button-text uk-link-reset" routerLinkActive="active"><a routerLink="posts">Annonces</a></button>
  <button class="uk-button uk-button-text uk-link-reset" routerLinkActive="active"><a routerLink="new">Nouveau post</a></button>
</div>
<div class="contain">
  <router-outlet></router-outlet>
</div>
