<div class="uk-card uk-width-large">
  <button type="button" class="uk-float-right" uk-close (click)="onDelete(id)"></button>

  <h3 [ngClass]="{'uk-heading-primary': true,
                'positiv': loveIts > 0,
                'negativ': loveIts < 0}"> {{ title }} </h3>

  <p [ngClass]="{'uk-heading-primary': true,
                'positiv': loveIts > 0,
                'negativ': loveIts < 0}"> {{ content }} </p>

  <span class="">Posté le {{ created_at | date: 'dd/MM/yyyy, HH:mm'}}</span><br/>
  <button class="uk-button like uk-margin-top" (click)="like(index)">Like</button>
  <button class="uk-button dislike uk-margin-top" (click)="dislike(index)">Dislike</button>
  <button class="uk-button uk-margin-top uk-link-reset"><a [routerLink]="[id]">Voir plus</a></button>
</div>
