@import '../../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../../node_modules/uikit/src/scss/mixins-theme.scss';
@import '../../../node_modules/uikit/src/scss/uikit-theme.scss';

$like: #77c145;
$dislike: #ea4e39;
$primary: #005599;

.like {
  background-color: $like;
  color: white;
}

.dislike {
  background-color: $dislike;
  color: white;
}

.positiv {
  color: $like;
}

.negativ {
  color: $dislike;
}

:host {
  width: 30% !important;
  flex-shrink: 0 !important;
  flex-basis: auto !important;
  flex-grow: 0 !important;
}

.uk-heading-primary {
  font-size: 1rem;
}
