<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-top" uk-slideshow="animation: push">

  <ul class="uk-slideshow-items small uk-cover-background">
    <li>
      <img src="../../assets/mac.jpg" data-uk-slideshow-item="0" uk-cover>
      <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
        <h3 class="uk-margin-remove">Les 10 sons de la semaine</h3>
      </div>
    </li>
    <li>
      <img src="../../assets/finals.jpg" data-uk-slideshow-item="1" uk-cover>
      <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
        <h3 class="uk-margin-remove">Suivre les Finals</h3>
      </div>
    </li>
    <li>
      <img src="../../assets/festoche.jpg" data-uk-slideshow-item="2" uk-cover>
      <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
        <h3 class="uk-margin-remove">Les events du mois de Juillet</h3>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
